In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.listdir('.\pokemon')

['Pokemon.csv']

In [3]:
poke_df = pd.read_csv('./pokemon/Pokemon.csv')
poke_df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
poke_df = poke_df.sort_values('Total', ascending=False)

In [8]:
poke_df.reset_index(drop=True,inplace=True)

In [9]:
poke_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
1,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
2,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
3,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
4,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
796,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
797,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
798,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
799,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False